<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getContentEditorWarnings>
        <processor type="ChangeTracker.Pipelines.GetContentEditorWarnings.ItemIsInExcludeList, ChangeTracker"/>
      </getContentEditorWarnings>
      <createPackage>
        <processor type="ChangeTracker.Pipelines.CreatePackage.SaveZipInFileSystem, ChangeTracker"/>
        <processor type="ChangeTracker.Pipelines.CreatePackage.SaveZipInMedia, ChangeTracker"/>
        <processor type="ChangeTracker.Pipelines.CreatePackage.AssingZipMediaItemToTaskItem, ChangeTracker"/>
      </createPackage>
    </pipelines>
  </sitecore>
</configuration>