<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <createTaskItem>
        <processor mode="on" type="ChangeTracker.Pipelines.CreateTaskItem.CreateTaskItem, ChangeTracker"/>
      </createTaskItem>
    </processors>
  </sitecore>
</configuration>